@keyframes logoFade {
    from {
        bottom: 700px;
        max-width: 100%;
        width: 100%;
        opacity: 0;
    }
    to {
        bottom: 100px;
        max-width: 1142px;
        opacity: 1;
    }
}

@keyframes eclo1Fade {
    from {
        margin-right: -40%;
        width: 75%;
    }
    to {
        margin-right: -3%;
        width: 45%;
    }
}
