@keyframes logoFade {
    from {
        opacity: 0;
        margin-top: -300px;
        width: 100%;
        max-width: 100%;
    }
    to {
        opacity: 1;
        margin-top: 0px;
        max-width: 1142px;
    }
}

@keyframes eclo1Fade {
    from {
        right: -40%;
        width: 55%;
    }
    to {
        right: -3%;
        width: 35%;
    }
}