.carouselButtons {
    position: absolute;
    right: 0px;
    bottom: 60%;
    z-index: 2;
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: space-between;
}

.enemyCarousel .carouselButtons,
.characterCarousel .carouselButtons  {
    bottom: 80%;
}

.carouselButtons button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: rgba(20, 20, 20, 0.55);
    color: rgba(220, 220, 220, 0.7);
    font-weight: bolder;
    font-size: 2em;
    filter: drop-shadow(4px 4px 4px black);
    -webkit-filter: drop-shadow(4px 4px 4px black);
    transition: 0.2s;
}

.carouselButtons button:hover {
    background: rgb(10, 10, 10);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.carouselList {
    position: relative;
    overflow: visible;
    height: 40%;
}

.carouselButtons,
.carouselList {
    margin-right: 5%;
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: visible;
    margin-top: 50px;
    padding: 0 2%;
    max-width: 900px;
    width: 100%;
    height: 550px;
    border-radius: 40px;
    background: -webkit-linear-gradient(-90deg, transparent, rgba(0,0,0,0.4));
}

.abilityCarousel .carouselInfo {
    margin-top: 60px;
}

.carouselItem {
    position: absolute;
    bottom: 0;
    transition: 0.2s;
    transform-origin: right bottom;
    pointer-events: none;
}

.carouselInfo {
    z-index: 4;
    overflow: visible;
    height: 60%;
}

.carouselTitle {
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Press Start 2P';
    filter: drop-shadow(1px 1px 3px black);
    -webkit-filter: drop-shadow(1px 1px 3px black);
}

.subtitleText {
    font-family: 'Press Start 2P';
}

.carouselDesc,
.carouselStats,
.carouselFlavor,
.carouselTitle,
.subtitleText {
    box-sizing: border-box;
    padding-left: 10%;
    width: 95%;
    color: rgba(220, 220, 220, 0.9);
}

.carouselDesc,
.carouselStats,
.carouselFlavor {
    font-size: calc(9px + 0.6vw);
}

.carouselStats {
    display: flex;
    max-width: 540px;
    width: 90%;
    justify-content: space-between;
}

.rarityText {
    text-transform: uppercase;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-text-fill-color: transparent;
}

.rarityText.common{
    background: -webkit-linear-gradient(90deg, rgb(210, 210, 210), rgb(129, 129, 129));
    -webkit-background-clip: text;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(195, 195, 195, 0.3);
}

.rarityText.uncommon{
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(144, 144, 144));
    -webkit-background-clip: text;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
}

.rarityText.rare{
    background: -webkit-linear-gradient(90deg, rgb(124, 144, 255), rgb(222, 251, 255));
    -webkit-background-clip: text;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(0, 255, 255, 0.3);
}

.rarityText.epic{
    background: -webkit-linear-gradient(90deg, rgb(255, 124, 222), rgb(240, 222, 255));
    -webkit-background-clip: text;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(255, 0, 225, 0.3);
}

.rarityText.legendary{
    background: -webkit-linear-gradient(90deg, rgb(255, 203, 124), rgb(253, 255, 222));
    -webkit-background-clip: text;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(255, 242, 0, 0.3);
}

.costText {
    color: white;
}

.rarityText,
.costText {
    padding-left: 6px;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Press Start 2P';
}

.carouselFlavor {
    opacity: 0.7;
}


@media only screen and (min-width: 760px) {
    .carouselTitle {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 760px) {
    .carouselTitle {
        margin-top: 10px;
    }
}