@import url(animations.css);
@import url(header.css);
@import url(trailer.css);
@import url(somed.css);
@import url(carousel.css);
@import url(navbar.css);
@import url(base-elements.css);


.mobileWrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

.line {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.line img {
    transform: scale(200%);
}

.contentBlock {
    width: 100%;
    padding: 10px 0px;
    overflow: visible;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blockParagraph {
    font-size: calc(9px + 0.8vw);
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: flex-end;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.titleText,
.blockParagraph {
    max-width: 900px;
}

.blockParagraph b {
    color: rgb(255, 200, 200);
    text-shadow: 0px 0px 4px red;
}

.topLine {
    text-align: left;
    float: left;
}

.bottomLine {
    text-align: right;
    float: right;
}

.titleText,
.title {
    padding-bottom: 20px;
    font-weight: bold;
    filter: drop-shadow(1px 1px 3px black);
    font-family: 'Press Start 2P';
}

.titleText {
    font-size: calc(9px + 1.0vw);
}

.titleText b, .title, .carouselTitle {
    background: -webkit-linear-gradient(90deg, rgb(255, 124, 124), rgb(255, 222, 222));
    font-size: 1.3em;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introBlock .blockParagraph {
    align-self: center;
}

.enemiesBlock,
.abilitiesBlock,
.charactersBlock  {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.enemiesBlock,
.abilitiesBlock {
    flex-direction: row;
}

.charactersBlock {
    flex-direction: row-reverse;
}

.introTitle {
    align-self: flex-start;
    padding-left: 10%;
    box-sizing: border-box;
    margin-top: -80px;
}

.enemiesTitle,
.abilitiesTitle,
.characterTitle {
    align-self: flex-end;
    box-sizing: border-box;
    padding-top: 20px;
    padding: 0 5%;
}

.title {
    font-size: 1.5em;
}
