.header {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    height: 440px;
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;
    justify-content: center;
}

.logoWrapper {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 2000px;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    bottom: 100px;
    z-index: 2;
    margin-left: 2%;
    max-width: 1142px;
    width: 100%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
    animation: logoFade 1s 1;
    -webkit-animation: logoFade 0.5s 1;
    object-fit: contain;
}

.eclo1 {
    z-index: 1;
    margin-right: -4%;
    margin-bottom: -20%;
    width: 45%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
    transform-origin: middle right;
    animation: eclo1Fade 1s 1;
    -webkit-animation: eclo1Fade 0.5s 1;
    align-self: flex-end;
}

.introTriangle {
    position: absolute;
    top: -50px;
    left: -50%;
    width: 200%;
    height: 260px;
    background: rgb(40, 40, 50);
    box-shadow: 0px -20px 20px -16px rgba(0, 0, 0, 0.85);
    transform: rotate(5deg);
}

.introTriangleWrapper {
    position: absolute;
    bottom: 50px;
    z-index: -1;
    overflow: visible;
    width: 100%;
    height: 50px;
}