.navBar {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    width: 100%;
    background: -webkit-linear-gradient(-90deg, rgba(40, 40, 40, 0.85) 0%, rgba(40, 40, 40, 0.45) 80%, transparent);
    align-items: center;
    backdrop-filter: blur(4px);
    justify-content: space-evenly;
}

.navSubBar {
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: space-evenly;
}

.navLink {
    box-sizing: border-box;
    padding: 20px 20px;
    min-width: 120px;
    height: 100%;
    border: none;
    background: transparent;
    color: rgb(234, 234, 234);
    text-shadow: 0px 0px 4px black;
    font-weight: bold;
    font-size: clamp(7px, calc(7px + 0.3vw), 12px);
    font-family: 'Press Start 2P';
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.navLink:hover {
    background-image: url("../images/bgsplatter.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255, 1);
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
