
.trailerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.trailerWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(20, 20, 20);
}

.trailerFrameWrapper {
    position: relative;
    overflow: visible;
    margin-top: 50px;
    padding: 4px;
    max-width: 1120px;
    max-height: 730px;
    width: 100%;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgb(173, 218, 255), rgb(47, 48, 117));
    aspect-ratio: 112/73;
}

.trailerVid {
    width: 100%;
    height: 100%;
}

.trailerShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 20px 20px 25px rgba(0, 0, 0, 0.65);
    pointer-events: none;
}

.trailerFrameDecor {
    position: absolute;
    transform: scale(200%);
    -webkit-transform: scale(200%);
    -moz-transform: scale(200%);
    -ms-transform: scale(200%);
    -o-transform: scale(200%);
    pointer-events: none;
    user-select: none;
}

#tlFrame {
    top: -10px;
    left: -7px;
    z-index: -1;
}

#trFrame {
    top: -10px;
    right: -7px;
    z-index: -1;
}

#blFrame {
    bottom: -10px;
    left: -7px;
    z-index: 1;
}

#brFrame {
    right: -7px;
    bottom: -10px;
    z-index: 1;
}